div {
  background-color: #dbe6fd;
}

body {
  margin: 0%;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}
h1 {
  font-family: "Sacramento", cursive;
  font-size: 90px;
  padding-top: 50px;
  color: #66bfbf;
  margin: 0px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  margin: 0px;
}
h2 {
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  margin: 10px 0px;
}
p {
  line-height: 2;
}

a {
  color: #11999e;
}

.bottomcloud {
  position: absolute;
  left: 270px;
  bottom: 400px;
}
.uppercloud {
  position: absolute;
  right: 430px;
  top: 40px;
}

.top {
  position: relative;
  padding: 100px;
}

.profilepic {
  border-radius: 50%;
  width: 200px;
  margin-top: 40px;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  margin: 100px auto;
}
.python {
  border-radius: 50%;
  width: 25%;
  float: left;
  padding-right: 30px;
}
.mern {
  border-radius: 50%;
  width: 25%;
  float: right;
  padding-left: 30px;
}
.jfm {
  margin-bottom: 40px;
}
.my {
  padding-top: 30px;
}

.fire {
  width: 50%;
  padding-bottom: 50px;
}

hr {
  border: none;
  border-top-style: dotted;
  width: 10%;
  margin: 0px auto;
  border-width: 10px;
  border-color: rgba(151, 226, 248, 0.52);
}
.contact-mess {
  width: 40%;
  margin: 40px auto 60px;
}
/*.btn {
  display: block;
  margin-bottom: 20px;
  
}*/
.contact-me {
  padding-bottom: 20px;
}

.btn {
  background: #289eed;
  background-image: -webkit-linear-gradient(top, #289eed, #064973);
  background-image: -moz-linear-gradient(top, #289eed, #064973);
  background-image: -ms-linear-gradient(top, #289eed, #064973);
  background-image: -o-linear-gradient(top, #289eed, #064973);
  background-image: linear-gradient(to bottom, #289eed, #064973);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #1c2912;
  background-image: -webkit-linear-gradient(top, #1c2912, #12400f);
  background-image: -moz-linear-gradient(top, #1c2912, #12400f);
  background-image: -ms-linear-gradient(top, #1c2912, #12400f);
  background-image: -o-linear-gradient(top, #1c2912, #12400f);
  background-image: linear-gradient(to bottom, #1c2912, #12400f);
  text-decoration: none;
}
.bottom-container {
  margin-top: 10px;
  background-color: #66bfbf;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: rgb(7, 8, 56);
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: rgb(8, 116, 53);
}
.copy {
  font-size: 0.75em;
  padding: 20px 0px 0px;
}
